form.sidebar
	ul.phone-category
		-var category = ['Флагманы','Бюджетная линейка']
			each item,i in category
				li.phone-category_item
					if i == 1
						a(href="#" class="phone-category_link").phone-category_link_active=item
					else
						a(href="#" class="phone-category_link")=item
	.acco
		ul.acco__list
			li.acco-item
				a(href="#" class="acco-triger-top").acco-trigger.togle-down Наличие в магазинах	
				ul.acco__content
					-
						var mag = 
						{
							'All' : 'Во всех магазинах',
							'Not-all' : 'В ближайшем ко мне магазине'
						}
					each item,i in mag
						li.acco__content-item
							if i == 'All'
								input(type="radio" name='mag' id=i checked)
								label(for=i).radio=item
							else	
								input(type="radio" name='mag' id=i)
								label(for=i).radio=item

			li.acco-item
				a(href="#").acco-trigger.togle-down Бренды
				ul.acco__content
					-
						var brand = [
							'Lenovo','Apple','Samsung','Asus','Motorola'
							]
					each item in brand		
						li.acco__content-item
							input(type="checkbox" name=item id=item)
							label(for=item).checkbox=item
					a(href="#").reset-filter Сбросить фильтр
			li.acco-item
				a(href="#").acco-trigger.togle-down Цена
				.acco__content					
					span.input-title от
					input(type="text" id='min' value="2500" disabled).input-slider.input-slider-left
					span.input-title до
					input(type="text" id='max' value="15000" disabled).input-slider.input-slider-right
					#slider
			li.acco-item
				a(href="#").acco-trigger.togle-down Цвет
				input(type="text" name='color' id='color' value="")
				ul.block-color.acco__content
					-
						var color = ['white','grey','black','d-blue','red','yellow','orange',
							'green','blue','d-pink','pink','brown'
							]	
					each item in color
						if item == 'black'
							li(class="color-item-#{item}").color-item.color-item-active
						else	
							li(class="color-item-#{item}").color-item
			li.acco-item
				a(href="#").acco-trigger.togle-down Операционные системы		
				ul.acco__content
					-
						var oc = [
							'Android','iOs','Windows Mobile','Symbian','Custom'
							]
					each item in oc		
						li.acco__content-item
							input(type="checkbox" name=item id=item)
							label(for=item).checkbox=item
					a(href="#").reset-filter Сбросить фильтр
				